<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <script src="js/vue.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="productlist">
    <div style="background-color: #2e6da4">
        <span style="color: white">添加商品列表</span>
    </div>
    <div id="input" style="margin-top: 10px">

        <label for="exampleInputName2">ID</label>
        <input type="text"  id="exampleInputName2" placeholder="请输入ID" v-model="id">


        <label for="exampleInputEmail2">Name</label>
        <input type="text" id="exampleInputEmail2" placeholder="请输入名称" v-model="name">

        <label for="search">请输入关键字</label>
        <input type="text" id="search" placeholder="请输入关键字" v-model="keywords">

    <button type="submit" class="btn btn-default" @click="add" style="margin-left: 15px">添加</button>
    </div>

    <div id="table" style="margin-top: 20px">
        <table class="table table-bordered">
            <tr>
                <th>id</th>
                <th>品牌名称</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
         <tbody>
            <tr v-for="test in search(keywords)" :key="test.id">
                <td>{{test.id}}</td>
                <td>{{test.name}}</td>
                <td>{{test.ctime}}</td>
                <td>
                    <a href="" @click.prevent="del(test.id)">删除</a>
                </td>
            </tr>
         </tbody>
        </table>
    </div>
</div>
<script>
    new Vue({
        el:"#productlist",
        data:{
            list:[{id:1,name: "奔驰",ctime: new Date().toLocaleDateString()},
                {id:2,name:"宝马",ctime:new Date().toLocaleDateString()}],
            id:"",
            name:"",
            keywords:""
        },
        methods:{
            add(){
                this.list.push({id:this.id,name:this.name,ctime:new Date().toLocaleDateString()})
            },
            del(id){
                // this.list.some((item,i) => {
                //     if (item.id == id){
                //         this.list.splice(i,1);
                //         return true;
                //     }
                // })
               var index = this.list.findIndex(test => {
                    if (test.id == id);
                    return true;
                });
               this.list.splice(index,1);
            },
            search(keywords){
               // return this.list.filter(test => {
               //      if (test.name.includes(keywords)){
               //          return test;
               //      }
               //  })
                var newlist = [];
                this.list.forEach(test => {
                    if (test.name.indexOf(keywords) != -1) {
                        newlist.push(test);
                    }

                })
                return newlist;
            }
        }
    });
</script>
</body>
</html>